{% extends 'base.html' %}
{% load static %}
{%load bootstrap4 %}
{% block content %}

<h1 align='center' class='display-4'><strong>Моховидные</strong></h1>
<h2 align='center' class='display-5'>Определение отдела</h2>
<hr>
<br>

<a href="{% url 'definer:cards_list' %}"><button type="button" class="btn btn-success">Посмотреть все карточки</button></a>
<br>
<br>
{% if search_cards %}
	{% for card in search_cards %}
	<div class='card_div'>
		Номер: {{card.id}}
		{% if card.division %}
		 | Отдел: <a href="{% url 'definer:taxons_observation' card.division card.id %}"><b>{{card.division}}</b></a>
		{% endif %}
		{% if card.moss_class %}
		 | Класс: <a href="{% url 'definer:taxons_observation' card.moss_class card.id %}"><b>{{card.moss_class}}</b></a>
		 {% endif %}
		{% if card.subclass %}
		 | Подкласс: <a href="{% url 'definer:taxons_observation' card.subclass card.id %}"><b>{{card.subclass}}</b></a>
		{% endif %}
		{% if card.order %}
		 | Порядок: <a href="{% url 'definer:taxons_observation' card.order card.id %}"><b>{{card.order}}</b></a>
		{% endif %}
		{% if card.family %}
		 | Семейство: <a href="{% url 'definer:taxons_observation' card.family card.id %}"><b>{{card.family}}</b></a>
		{% endif %}
		{% if card.genus %}
		 | Род: <a href="{% url 'definer:taxons_observation' card.genus card.id %}"><b>{{card.genus}}</b></a>
		{% endif %}
		{% if card.species %}
		 | Вид: <a href="{% url 'definer:taxons_observation' card.species card.id %}"><b>{{card.species}}</b></a>
		{% endif %}	
		 | Состояние: <b>{{card.activation}}</b>
	<p>
		<form action="{% url 'definer:activation' card.id %}" method='post' style="display:inline-block;">
			{% csrf_token %}
		<button name='submit' style="background: #00FEAD; color: #1686ab; width: 180px; " class='btn change_act'>Изменить состояние</button>
		</form>


		<form action="{% url 'definer:card_freezing_starter' card.id %}" method='post' style="display:inline-block;">
			{% csrf_token %}
			<button style='background: #00EBFE; width:150px;' class='btn third' name='submit'>{% if card.activation == 'Frozen' %}{{freez_button_name}}{% endif %}{% if card.activation == 'Act' %}{{button_name}}{% endif %}{% if card.activation == 'Deact' %}{{button_name}}{% endif %}</button>
		</form>
		<div style='float: right; padding: 1px'>
		<a href="#zatemnenie"><button type="button" class="main_button" style="display:inline-block;" name='submit'>Удалить карточку</button></a>

		<div id="zatemnenie">

		   <window>
		   		Вы действительно желаете удалить эту карточку?
		   	  <p>
		       <form action="{% url 'definer:delete_card' card.id %}" method='post' style="display:inline-block;">
					{% csrf_token %}
				<button class='form_del_button' name='submit'>Удалить</button>
				</form>
		    	<a href="{% url 'definer:definer_starter' %}"><button type="button" class="cancel_button" style="display:inline-block;" name='submit'>Отмена</button></a>
			  </p>
		   </window>
		</div>
	</div>
	</p>
	</div>
	<br>
	{% endfor %}
{% endif %}
<form action="{% url 'definer:definer_starter' %}" method='post'>
	{% csrf_token %}
	<button name='submit' class='new_card_btn'>Создать поисковую карточку</button>
</form>
<br>
<div class='list-group'>
  {% if moss_list %}
	{% for moss in moss_list %}
		<div style="border: 2px solid #e4dede; border-radius: 6px">
		<p style='height: 155px; padding: 10px;'>
		{% for photo in division_images %}
			{% if photo.taxon == moss %}
				<a href="{{photo.image.url}}"><img height=150 alt='' class="rounded float-left" src='{{photo.image.url}}'></a>

			{% endif %}
		{% endfor %}
		</p>
		
		<a href="{% url 'definer:definer_unitaxon' moss.name %}" class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
			 <h5 class="mb-3">{{moss.name}}</h5>
			 <p>{{moss.tax.name}}</p>
			</div>
			 <div class="d-flex w-100 justify-content-between">
			 <p class="mb-3">{{moss.definer_description}}</p>
			</div>
		</a>
		</div>
		<br>
	{% endfor %}
  {% endif %}
</div>

{% endblock %}