{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

{% if genus.img %}
	<img height=100 src="{{genus.img.url}}">
{% else %}
	<p></p>
{% endif %}

<p>{{genus.name}}</p>
<p>{{genus.description}}</p>
{% for bound in bounds %}
	{{bound}}
{% endfor %}

<ul class="list-group list-group-horizontal-lg">
  <li class="list-group-item"><a href="{% url 'taxons:edit_genus' genus.id %}">edit data</a></li>
  <li class="list-group-item"><a href="{% url 'taxons:add_species_images' genus.id %}">Добавить ещё фотографии</a></li>
  <li class="list-group-item"><a href="{% url 'taxons:delete_sp' genus.id %}">delete</a></li>
</ul>

{% endblock %}