{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block header %}

<h3 style="text-align:center; margin: 5px">Moss catalogisator</h3>
<div class='header'>
	{% for img in images_store %}
			{% if img.img %}
			<a class='animated_image' href="{% url 'taxons:universal_taxon' img.name %}">
				<img style='border: solid 0px; border-radius: 6px; height: 100px' title={{img.name}} src='{{img.img.url}}'>
			</a>
			&nbsp
			{% endif %}
	{% endfor %}
</div>



{% endblock header %}


{% block content %}
<a href="{% url 'taxons:homepage_images' %}"><button class='img_change'>Поменять изображения</button></a>
	<br>

{% if new_images %}
	{% for img in new_images %}
		{{img.name}}
		{% if img.img %}
			<img height="50" src="{{img.img.url}}">
		{% endif %}
		
	{% endfor %}
{% endif %}
<br>
<div align='center'><a href="{% url 'definer:definer_starter' %}"><button type="button" class="btn btn-info btn-lg" name='definer_reverse'>Определить растение</button></a></div>

<br>
<hr>
<div align='left'>
<p>Учебная литература</p>
<ul>
	{% for b in books %}
		<p><a href="{% url 'taxons:book' b.id %}">{{b.title}}</a></p>
	{% endfor %}
</ul>
<p><a href="{% url 'taxons:books' %}">Вся учебная литература<animate attributeName='x' from='0' to='300' 
										dur='3s' fill='freeze'/></a></p>
</div>
<hr>
<div align='left'>
<p><a href="{% url 'to_map' %}">Карта</a></p>
<p><a href="{% url 'add_point' %}">Новая точка</a></p>
<p><a href="{% url 'points_list' %}">Все наблюдения</a></p>
</div>
<p>
{% for message in messages %}
    {{message}}
{% endfor %}
</p>

{% endblock %}
