{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

{{user_custom.username}}
<p>{{user_custom.name}}</p>
<p>{{user_custom.email}}</p>


<p><img height=150 src='{{user_custom.picture.url}}'></p>
<hr>

{% if sp_owner %}
    <p>Mosses added by {{user_custom}}:</p>
    <ul>
    {% for sp in sp_owner %}
      
      <li><p>
      	<a href='{% url 'taxons:species' sp.id %}'><img height=30 src="{{sp.img.url}}"></a>
      	<a href='{% url 'taxons:species' sp.id %}'>{{sp}}</a>
      </p></li>
     
    {% endfor %}
    </ul>
{% endif %}

<p><a href="{% url 'edit_profile' %}">edit profile</a></p>

{% endblock %}
